.btnContainer {
  display: flex;
  justify-content: center;
}

.btnContainer > button {
  margin: 20px;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  border: 1px solid blue;
  width: 200px;
  text-align: center;
  margin: 10px;
}

.item > img {
  border-radius: 50%;
  object-fit: cover;
}

.userFullName {
  font-size: 20px;
  margin: 10px;
}
