/*
#usersList {
  margin: 0 auto;
  background-color: grey;
}

.userItem {
  display: flex;
  border: 1px solid black;
}

.imgContainer {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.userImg {
  position: absolute;
  object-fit: cover;
  height: inherit;
  width: inherit;
}

.userFullName {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
*/
