/*
#usersList {
  margin: 0 auto;
  background-color: grey;
}

.userItem {
  display: flex;
  border: 1px solid black;
}

.imgContainer {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.userImg {
  position: absolute;
  object-fit: cover;
  height: inherit;
  width: inherit;
}

.userFullName {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
*/

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  max-height: 100vh;
}

#square {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 10px;
}
